@import url("https://fonts.googleapis.com/css2?family=Cambay&family=Roboto:wght@300&family=Tenor+Sans&display=swap");

@font-face {
  font-family: "Ladi Weak";
  src: url("/fonts/ladi-weak-300.woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  font-weight: 300;
  background-color: #817ea0;
  color: #363a40;
  color: black;
  color: #032746;
  font-weight: 200;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tenor Sans", sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #39c3ba;
  font-weight: 300;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
}

a.dreamsoak-link {
  color: inherit;
}

a.dreamsoak-link:active,
a.dreamsoak-link:hover {
  transform: none;
  color: #f4ca16;
}

a:active,
a:hover {
  transform: translate3d(-4px, 0px, 0px);
}

nav a:active,
nav a:hover {
  transform: translate3d(0px, -2px, 0px);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
